<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.th_nuernberg.bme.dailyquizz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Daily Quizz"
        android:theme="@style/Theme.DailyQuizz">

        <!-- Startpunkt: Login -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Weitere Screens -->
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".HomeActivity" android:exported="true" />
        <activity android:name=".QuestionActivity" android:exported="true" />
        <activity android:name=".ResultActivity" android:exported="true" />
        <activity android:name=".StatsActivity" android:exported="true" />
        <activity android:name=".FriendsActivity" android:exported="true" />
        <activity android:name=".RankingActivity" android:exported="true" />
        <activity android:name=".CategoryActivity" android:exported="true" />


    </application>

</manifest>
